<%- include("../comp/header.ejs") %>

<h1>Dashboard</h1>

<%- include("../comp/footerbar.ejs") %> 
<!-- script -->
<%- include("../comp/script.ejs") %>
<script></script>
<%- include("../comp/footer.ejs") %>
